<div *ngIf="chatClient">
  <h1>Hi {{chatClient.name}}</h1>
  <label>
    Message:
    <input type="text" [formControl]="messageFc">
  </label>
  <button (click)="sendMessage()">Send Message</button>
</div>
<div *ngIf="!chatClient">
  <label>
    Name:
    <input type="text" [formControl]="nameFC">
  </label>
  <button (click)="sendName()">Send Name</button>
  <label *ngIf="error$ | async as error" style="color: red">
    {{error}}
  </label>
</div>
<h2>Messages:</h2>
<h4 *ngFor="let message of messages">
  {{message.date | date: 'hh:mm'}} - {{message.chatClient?.name}}: {{message.message}}
</h4>
<h5 *ngIf="clientsTyping.length > 0" style="color: gray">
  <span *ngFor="let client of clientsTyping">{{client.name}}, </span> is typing...
</h5>
<h2>Currently online:</h2>
<div *ngIf="clients$ | async as clients">
  <ul>
    <li *ngFor="let client of clients">
      {{client.name}}
    </li>
  </ul>
</div>

