<div class="row vh-12" style="padding-top: 30px; padding-bottom: 20px">
  <div [formGroup]="stockFC" *ngIf="!stockCreate">
    <h3>New Stock</h3>
    <label>
      Name:
      <input type="text" formControlName="stockName">
    </label>
    <label>
      Description:
      <input type="text" formControlName="description">
    </label>
    <label>
      Initial Value:
      <input type="number" formControlName="initValue">
    </label>
    <label>
      Current Value:
      <input type="number" formControlName="currentValue">
    </label>
    <button type="button" class="btn btn-primary" (click)="sendStock()">Send</button>
  </div>
</div>
<h4 *ngIf="error" style="color: darkred">{{error}}</h4>
<div *ngIf="stockCreate">
  {{stockCreate | json}}
  <button (click)="stockCreate = undefined"></button>
</div>
<div class="row vh-100" style="padding-top: 30px; padding-bottom: 20px">
  <div class="col-4">
    <div class="card h-100">
      <div class="card-header">
        Stocks
      </div>
      <div class="card-body">
        <div *ngIf="stocks$ | async as stocks">
          <ul>
            <h5 *ngFor="let stock of stocks"
                [class.selected]="stock === selectedStock"
                (click)="onSelect(stock)">
              <button href="#" class="btn btn-primary" role="button" aria-pressed="true" style="width: 120px">
                {{stock.stockName}}
              </button>
              - {{stock.currentValue}} DKK
            </h5>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-5" *ngIf="selectedStock">
    <div class="card h-50">
      <div class="card-header">
        {{selectedStock.stockName}}'s details
      </div>
      <div class="card-body">
        <h4>
          {{selectedStock.stockName}}
        </h4>
        <label style="font-size: 16px">
          {{selectedStock.description}}
        </label>
        <div></div>
        <div [formGroup]="valueFc">
          <label>
            Current Value:
            <input type="number" formControlName="value">
          </label>
        </div>
        <button type="button" class="btn btn-primary" (click)="updateStock()">Update</button>
        <div></div>
        <label style="font-size:12px">
          Initial Value: {{selectedStock.initValue}}
        </label>
      </div>
    </div>
  </div>
</div>
